/*advanced styling here*/

h1
{
    color: #ca6f1e;
    font-size: 24px;
    text-align: center;
}
body
{
    background-color: lightgray;
}

.button1 {  background-color: #6e2c00; /* Orange */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    padding: 30px; 
    width: 60px;
    height: 20px; 
}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #6e2c00;
  }
  
  .topnav a {
    float: left;
    color: #f9e79f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #484241;
  }
  
  .topnav a.active {
    background-color: #484241;
    color: orangered;
  }
  
  .topnav-right {
    float: right;
  }